html {
    font-size: 14px; 
  font-family: 'Josefin Sans', sans-serif;
    background-color: #387b12;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #FBB12F;
}

h2,h3,h4 {
    text-align: center;
    color: #EEFED8;
}

h4 {
    text-align: center;
    color: #EBB1A3;
}
p, li {
  color: #EBB1A3;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #232323;
  padding: 0px 20px 20px 20px;
  border: 3px dotted white;
}

img {
  display: block;
  margin: 0 auto;
}

a:hover{
  color: #FBB12F
}

.banner{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-section{
  text-align: center;
  margin-top: 5px;
  height: 50px;
  border: 2px dotted grey;
}

